<% content_for :head do %>
<%= javascript_include_tag params[:controller] %> 
<%= stylesheet_link_tag params[:controller] %>
<% end %>

<div id="pjax">
  <div id="wrapper" data-adminica-nav-top="1" data-adminica-side-top="1">
    <%= render "components/topbar" %>
    <%= render "components/sidebar" %>
    <%= render "components/stackbar" %>
  </div>
  
  <div id="main_container" class="main_container container_16 clearfix">
    <%= render "components/navigation" %>
    <div class="box grid_16 video-panel">
      <h2 class="box_head">
	<%= @current_video or "No Video" -%>
      </h2>
      <!-- "Video For Everybody" http://camendesign.com/code/video_for_everybody -->
      <video controls="controls" poster="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="720" height="360">
	<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" type="video/mp4" />
	<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm" type="video/webm" />
	<source src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv" type="video/ogg" />
	<object type="application/x-shockwave-flash" data="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" width="720" height="360">
	  <param name="movie" value="http://releases.flowplayer.org/swf/flowplayer-3.2.1.swf" />
		<param name="allowFullScreen" value="true" />
		<param name="wmode" value="transparent" />
		<param name="flashVars" value="config={'playlist':['http%3A%2F%2Fsandbox.thewikies.com%2Fvfe-generator%2Fimages%2Fbig-buck-bunny_poster.jpg',{'url':'http%3A%2F%2Fclips.vorwaerts-gmbh.de%2Fbig_buck_bunny.mp4','autoPlay':false}]}" />
		<img alt="Big Buck Bunny" src="http://sandbox.thewikies.com/vfe-generator/images/big-buck-bunny_poster.jpg" width="640" height="360" title="No video playback capabilities, please download the video below" />
	</object>
      </video>
    </div>
    <div class="box grid_8">
      <h2 class="box_head">Chapters</h2>
      <div class="controls">
	<a href="#" class="grabber"></a>
	<a href="#" class="toggle"></a>
      </div>
      <div class="toggle_container">
	<div class="block">
	  <div class="section">
	    <ol>
	      <% for chapter in @chapters %>
	      <li><a href="#" class="chapter_link"><%= chapter.name -%></a></li>
              <% end %>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
    <div class="box grid_8">
      <h2 class="box_head">Episodes</h2>
      <div class="controls">
	<a href="#" class="grabber"></a>
	<a href="#" class="toggle"></a>
      </div>
      <div class="toggle_container">
	<div class="block">
	  <div class="section">
	    <% for chapter in @chapters %>
	    <ol class="episode_list" data-chapter="<%= chapter.name -%>">
	      <% for episode in chapter.episodes %>
	      <li><%= episode.name -%></li>
	      <% end %>
	    </ol>
	    <% end %>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
