<% content_for :head do %>
<%= javascript_include_tag params[:controller] %> 
<%= stylesheet_link_tag params[:controller] %>
<% end %>

<div id="pjax">
  <div id="wrapper" data-adminica-nav-top="1" data-adminica-side-top="1">
    <%= render "components/topbar" %>
    <%= render "components/sidebar" %>
    <%= render "components/stackbar" %>
  </div>
  
  <div id="main_container" class="main_container container_16 clearfix">
    <%= render "components/navigation" %>
    <div class="box grid_16">
      <h2 class="box_head">
	<%= @current_video or "No Video" -%>
      </h2>
      <video width="100%"s controls="controls" autoplay="autoplay">
	Your browser does not support the video tag.
      </video>
    </div>
    <div class="box grid_8">
      <h2 class="box_head">Chapters</h2>
      <div class="controls">
	<a href="#" class="grabber"></a>
	<a href="#" class="toggle"></a>
      </div>
      <div class="toggle_container">
	<div class="block">
	  <div class="section">
	    <ol>
	      <% for chapter in @chapters %>
	      <li><a href="#" class="chapter_link"><%= chapter.name -%></a></li>
              <% end %>
	    </ol>
	  </div>
	</div>
      </div>
    </div>
    <div class="box grid_8">
      <h2 class="box_head">Episodes</h2>
      <div class="controls">
	<a href="#" class="grabber"></a>
	<a href="#" class="toggle"></a>
      </div>
      <div class="toggle_container">
	<div class="block">
	  <div class="section">
	    <% for chapter in @chapters %>
	    <ol class="episode_list" data-chapter="<%= chapter.name -%>">
	      <% for episode in chapter.episodes %>
	      <li><%= episode.name -%></li>
	      <% end %>
	    </ol>
	    <% end %>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
