<% content_for :head do %>
<%= javascript_include_tag params[:controller] %> 
<%= stylesheet_link_tag params[:controller] %>

<% end %>


<%
   agent = UserAgent.parse(request.user_agent)
   browser = agent.browser
   mobile = agent.mobile?
   platform = agent.platform
   %>

<div id="pjax">
  <div id="wrapper" data-adminica-nav-top="1" data-adminica-side-top="1">
    <%= render "components/topbar" %>
    <%= render "components/sidebar" %>
    <%= render "components/stackbar" %>
    
    <div id="main_container" class="main_container container_16 clearfix">
      <%= render "components/navigation" %>
      <div class="box grid_16 video-panel notfree">
	<h2>This Video is Not Available for Free</h2>
	<a href="http://www.totalsem.com/store/mike-myers-a-video-series">Purchase...</a>
      </div>
      <div id="chapters" class="box grid_8">
	<h2 class="box_head">A+ Chapters</h2>
	<div class="controls">
	  <a href="#" class="grabber"></a>
	  <a href="#" class="toggle"></a>
	</div>
	<div class="toggle_container">
	  <div class="block">
	    <div class="section">
	      <ol>
		<% for chapter in @chapters %>
		<li><a href="#" class="chapter_link"><%= chapter.name -%></a></li>
		<% end %>
	      </ol>
	    </div>
	  </div>
	</div>
      </div>
      <div id="episodes" class="box grid_8">
	<h2 class="box_head" id="episodes-header"> 
	  <%= @chapter.name + " - Episodes" -%>
	</h2>
	<div class="controls">
	  <a href="#" class="grabber"></a>
	  <a href="#" class="toggle"></a>
	</div>
	<div class="toggle_container">
	  <div class="block">
	    <div class="section">
	      <% for chapter in @chapters %>
	      <ol class="episode_list" data-chapter="<%= chapter.name -%>" 
		  style="<%= display_chapter(chapter) -%>" >
		<% for episode in chapter.episodes.sort_by {|x| x.number} %>
		<li class="<%= class_for_free(episode) -%>">
		  <a href="<%= link_for_free(episode) -%>" class="episode_link"><%= episode.name -%></a>
		  <% if !@user.nil? && episode.watched?(@user) %> 
		  <img src="/images/misc/check.png" />
		  <% end %>
		  <span class="duration">
		    <% 
		       length = episode.length || 0
		    %>
		    <%= "%s:%02d" % [(length / 60),(length % 60)] -%>
		  </span>
		</li>
		<% end %>
	      </ol>
	      <% end %>
	    </div>
	  </div>
	</div>
      </div>
    </div>
  </div>
</div>
