<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Total Seminars Videos</title>
    <meta name="description" content="http://themeforest.net/item/adminica-the-professional-admin-template/160638"/>
    <meta name="author" content="Oisin Lavery - Tricycle Labs"/>
    <meta name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1;"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link href="/images/interface/iOS_icon.png" rel="apple-touch-icon"/>
    <link rel="stylesheet" href="/styles/adminica/reset.css"/>
    <link rel="stylesheet" href="/styles/plugins/all/plugins.css"/>
    <link rel="stylesheet" href="/styles/adminica/all.css"/>
    <link rel="stylesheet" href="/styles/themes/switcher.css" />
    <link rel="stylesheet" href="/styles/themes/theme_red.css" />
    <link rel="stylesheet" href="/styles/themes/bg_wood.css" />
    <link rel="stylesheet" href="/styles/adminica/colours.css"/> 
    <link rel="stylesheet" href="/styles/themes/layout_fixed.css"/> 

    <script src="/scripts/jquery/jquery.js"></script>
    <script src="/scripts/jquery/jqueryui.js"></script>
    <script src="/scripts/modernizr/modernizr.js"></script>
    <script src="/scripts/prefixfree/prefixfree.js"></script>
    <script src="/scripts/pjax/pjax.js"></script>
    <script src="/scripts/isotope/isotope.js"></script>
    <script src="/scripts/autogrow/autogrow.js"></script>
    <script src="/scripts/colorpicker/colorpicker.js"></script>
    <script src="/scripts/cookie/cookie.js"></script>
    <script src="/scripts/datatables/datatables.js"></script>
    <script src="/scripts/tinyeditor/tinyeditor.js"></script>
    <script src="/scripts/fancybox/fancybox.js"></script>
    <script src="/scripts/flot/flot_excanvas.js"></script>
    <script src="/scripts/flot/flot.js"></script>
    <script src="/scripts/flot/flot_resize.js"></script>
    <script src="/scripts/flot/flot_pie.js"></script>
    <script src="/scripts/flot/flot_pie_update.js"></script>
    <script src="/scripts/fullcalendar/fullcalendar.js"></script>
    <script src="/scripts/fullcalendar/fullcalendar_gcal.js"></script>
    <script src="/scripts/knob/knob.js"></script>
    <script src="/scripts/multiselect/multiselect.js"></script>
    <script src="/scripts/select2/select2.js"></script>
    <script src="/scripts/slidernav/slidernav.js"></script>
    <script src="/scripts/smallipop/smallipop.js"></script>
    <script src="/scripts/syntaxhighlighter/shCore.js"></script>
    <script src="/scripts/syntaxhighlighter/shBrushJScript.js"></script>
    <script src="/scripts/syntaxhighlighter/shBrushXml.js"></script>
    <script src="/scripts/tagit/tagit.js"></script>
    <script src="/scripts/timepicker/timepicker.js"></script>
    <script src="/scripts/tinyeditor/tinyeditor.js"></script>
    <script src="/scripts/tiptip/tiptip.js"></script>
    <script src="/scripts/touchpunch/touchpunch.js"></script>
    <script src="/scripts/uistars/uistars.js"></script>
    <script src="/scripts/uitotop/uitotop.js"></script>
    <script src="/scripts/uniform/uniform.js"></script>
    <script src="/scripts/validation/validation.js"></script>

    <!--    <script src="/scripts/plugins-min.js"></script>-->
    
    <script src="/scripts/adminica/adminica_ui.js"></script>
    <script src="/scripts/adminica/adminica_mobile.js"></script>
    <script src="/scripts/adminica/adminica_datatables.js"></script>
    <script src="/scripts/adminica/adminica_calendar.js"></script>
    <script src="/scripts/adminica/adminica_charts.js"></script>
    <script src="/scripts/adminica/adminica_gallery.js"></script>
    <script src="/scripts/adminica/adminica_various.js"></script>
    <script src="/scripts/adminica/adminica_wizard.js"></script>
    <script src="/scripts/adminica/adminica_forms.js"></script>
    <script src="/scripts/adminica/adminica_load.js"></script>
    
    <!--    <script src="/scripts/adminica/adminica_all-min.js"></script>-->
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
    
    <%= render "dialogs/dialog_register" %>
    <%= render "dialogs/dialog_delete" %>
    <%= render "dialogs/dialog_logout" %>
    <div id="loading_overlay">
      <div class="loading_message round_bottom">
	<img src="/images/interface/loading.gif" alt="loading" />
      </div>
    </div>
  </body>
</html>
